.filters {
  margin: 100px;
  li {
    cursor: pointer;
    font-size: 20px;
    list-style: none;
    &.active {
      color: yellow;
    }

    &:hover {
      color: yellow;
    }
  }
}

.filters li {
}
